<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand" href="#"}}Brand{{/link-to}}
    </div>
  </div>
</nav>

<div class="container">
  <div class="col-sm-12 col-md-12 col-l-12">
    {{outlet}}
  </div>
</div>
